/* ChatComponent.css */

/* Style for the message icon */
.message-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    width: 8%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 5%;
  }

  .message-icon:hover{
    cursor: pointer;
    background-color: #288cf8;
  }
  
  /* Style for the chat box */
  .chat-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 15%;
  }
  
  /* Style for chat messages */
  .chat-messages {
    max-height: 200px;
    overflow-y: auto;
  }
  
  /* Style for message input and send button */
  .chat-box input[type="text"] {
    width: calc(100% - 70px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
  }
  
  .chat-box button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  /* Style for user and bot messages */
  .message {
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .user {
    background-color: #f0f0f0;
  }
  
  .bot {
    background-color: #e0f7fa;
  }
  