.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.landing-container{
  background-color: #4A6D7C;
  /* margin: 2px; */
}

.raised {
  box-shadow: 0 0 5px 0px rgba(0,0,0,0.5);
}
.raised-glow {
  box-shadow: 0 0 5px 0px rgba(255, 255, 255, 0.5);
}

.button{
  background-color: #61dafb;
}


/* Set background color */
body {
  /* background-image: url('../../widepolka.png'); */
  background-color: #4A6D7C;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #92BFB1; 
  padding: 8px;
  text-align: center;
  color: white;
  margin: 0 0 0 0;

  /* Add background image */
  background-image: url('../../logo.png');
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: left center; /* Position the background image to the left of the content */
  background-size: auto 80%; /* Adjust the size of the background image */
}




/* Main content container */
.map {
  background-color: #1e2e1e; /* Dark green */
  padding: 5px;
  margin: 20px auto;
  max-width: 85%;
  height: 62%;
  /* max-height: fit-content; */
}

.dropdown{
  text-align: center;
  border-radius: 5px;
}



.content-wrapper {
  display: flex;
}

/* .CrimeListComponent {


} */